.bg-body {
  background-color: $bg-body;
}

.clr-primary {
  color: $clr-primary;
}

.bg-primary {
  background: $bg-primary;
}

.clr-secondary {
  color: $clr-secondary;
}

.bg-secondary {
  background: $bg-secondary;
}

.border-r-4 {
  border-radius: 4px;
}

.border-r-16 {
  border-radius: 16px;
}