<footer class="container flex justify-between my-40">
<div class="flex gap-80">
<div class="copyright">
<p class="text-xs">Epic CSS © All Rights Reserved 2024<br>Website by <a href="https://design2seo.com/">Design 2 SEO</a>
</p>
</div>
<div>
<p class="mb-24">Sitemap:</p>
<ul class="menu-item">
<li class="mb-12">
<a href="/" class="{{ 'active' if tag == "home-page"}}">Home</a>
</li>
<li class="mb-12">
<a href="/11ty-theme/" class="{{ 'active' if tag == "eleventy-page"}}">11ty theme</a>
</li>
<li>
<a href="/npm-custom-install/" class="{{ 'active' if tag == "npm-page"}}">NPM custom install</a>
</li>
</ul>
</div>
</div>
</footer>