{%- if tag == 'home-page' -%}
<header class="container text-center my-120">
<a href="/" class="text-xl font-bold">Epic CSS</a>
<h1>A simpler utility-first UI library.</h2>
<nav>
<ul class="flex justify-center gap-24">
<li role="listitem"><a href="https://www.npmjs.com/package/epic-css" class="{{ 'active' if tag == "blog-page"}}" target="_blank">NPM package</a></li>
<li role="listitem"><a href="https://github.com/jeremyfaucher/epic-css-11ty-theme" class="{{ 'active' if tag == "about-page"}}" target="_blank">11ty Theme</a></li>
</ul>
</nav>
</header>
{%- else %}
<nav>
<ul class="flex justify-center gap-24 mt-32">
<li role="listitem"><a href="/docs/" class="{{ 'active' if tag == "blog-page"}}">Docs</a></li>
<li role="listitem"><a href="/blog/" class="{{ 'active' if tag == "blog-page"}}">Blog</a></li>
<li role="listitem"><a href="https://github.com/jeremyfaucher/epic-css-11ty-theme" class="{{ 'active' if tag == "about-page"}}">11ty Theme</a></li>
</ul>
</nav>
{% endif %}