<header class="container flex gap-24 pt-24 mb-100">
<nav>
<ul class="flex items-center gap-24 mb-0 list-none">
<li role="listitem"><a href="/" class="{{ 'active' if tag == "home-page"}}">Epic CSS</a></li>
<li role="listitem"><a href="/11ty-theme/" class="{{ 'active' if tag == "11ty-page"}}">11ty theme</a></li>
<li role="listitem"><a href="/npm-custom-install/" class="{{ 'active' if tag == "npm-page"}}">NPM custom install</a></li>
<li role="listitem"><a href="/docs/" class="{{ 'active' if tag == "docs-page"}}">Docs</a></li>
{# <li role="listitem"><a href="ui=library/" class="{{ 'active' if tag == "ui-library"}}">UI library</a></li>
<li role="listitem"><a href="prototypes/" class="{{ 'active' if tag == "ui-library"}}">Prototypes</a></li> #}
</ul>
</nav>
</header>