// font ramp
// Headings
//
// Set the heading variable
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 16px;

// Set the heading font-weight variables
$headings-font-weight: 600;

// Set the line heights for headings variables
$h1-line-height: 40px;
$h2-line-height: 32px;
$h3-line-height: 28px;
$h4-line-height: 20px;

$body-font-size: 1.125rem;
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: $body-font-size;
    color: #d4d4d4;
    margin: 0px;
  }
  
  p {
    line-height: 24px;
  }

  // set base for browsers
h1, h2, h3, h4, p, ul {
    margin-top: 0;
  }
  h1, .h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
  
  h2, .h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }
  h3, .h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
  }
  h4, .h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }
  
  article {
  
    h2 {
      margin-bottom: 12px;
    }
  
    p {
      margin-top: 0px;
      margin-bottom: 2rem;
    }
    
    ul {
    padding-left: 3rem;
    list-style-type: circle;
    line-height: 2rem;
}
  }
  
  h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height !important;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    text-underline-offset: 4px;
    color: #d4d4d4;
  
    &:hover {
      text-decoration: underline;
    }
  
    &.underline-clr {
      text-decoration: underline;
    }
  }
  
  hr {
    border: 0;
    border-top: 1px dotted #efefef;
  }