---
layout: 'base.njk'
tag: home-page
fullWidth: true
---
<section class="container text-center mb-100">
<p class="fs-96 lh-96 fw-700 mb-24">Epic CSS</p>
<h1 class="mb-24">A simpler utility-first UI library.</h1>

<p>A utility-first CSS framework that easily integrates with any node.js project like 11ty or Next.js. Yes it is very similar to Tailwind but much more flexible and can be added to WordPress or PHP projects.</p>

<p>Integrate into any project with node.js and <code>npm install epic-css</code> or use with the pre-integrated <a href="https://epiccss.com/11ty-theme/" target="_blank" rel="noopener">Epic CSS 11ty theme</a>.</p>
</section>
<section>
{% markdown %}
{%- include "doc-home-page.md" -%}
{% endmarkdown %}
</section>




