---
layout: 'base.njk'
tag: home-page
---
<section class="text-center mb-100">
<p class="text-xl font-bold mb-24" style="line-height: 80px">Epic CSS</p>
<h1 class="mb-0">A simpler utility-first UI library.</h1>
</section>

<p>Integrate into any project with node.js and <code>npm install epic-css</code> or use with our 11ty theme.</p>

<p>A utility-first CSS framework that easily integrates with any node.js project like 11ty or Next.js. Yes it is very similar to Tailwind but much more flexible and can be added to WordPress or PHP projects.</p>

<p>In the Epic CSS 11ty theme the UI library is included in the theme. Were as if you are doing a custom install the UI library will come from the NPM package. Regarless if you are using the theme or the custom install the epic-css NPM package module will handle the light version style.css build.</p>

<h2>Utility-first example usage</h2>
<article>
{% markdown %}
{%- include "utility-first-doc.md" -%}
{% endmarkdown %}
</article>




